# Developnment
node_modules
dump.rdb
.env

# Jest coverage output
coverage
coverage-*
lcov.info
lcov-report/

# Output JSON
src/backend/etl/aggieExpertsAPI/utils/expertIds.csv
src/backend/etl/aggieExpertsAPI/formattedFeatures/*.json
src/backend/etl/geojsonGeneration/generated*.geojson
src/backend/etl/locationAssignment/works/*.json
src/backend/etl/locationAssignment/grants/*.json
src/backend/etl/locationAssignment/locations/*.geojson