/**
 * @file index.css
 * @description This file contains the global styles and custom CSS for the Expert Mapping Interface project.
 *              It includes styles for the layout, interactive map, date range slider, and other UI components.
 *
 * CONTENTS:
 * - Tailwind CSS base, components, and utilities imports.
 * - Global styles for the HTML and body elements.
 * - Custom styles for the Leaflet map container and layout.
 * - Styling for the date range slider:
 *   - Overall slider bar (`.custom-slider`)
 *   - Track segments (`.custom-track`, `.custom-track-0`, `.custom-track-1`, `.custom-track-2`)
 *   - Draggable thumbs (`.custom-thumb`)
 * - Styles for the map legend and its markers.
 *
 * Marina Mata, 2025
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
  max-height: 82vh;
}

.map-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.map-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.custom-slider {
  height: 8px;
  background: #facc15;
  border-radius: 9999px;
  position: relative;
}

.custom-track {
  height: 8px;
  border-radius: 9999px;
}

.custom-track-0 {
  background-color: #e5e7eb !important;
}

.custom-track-1 {
  background-color: #facc15 !important;
}

.custom-track-2 {
  background-color: #e5e7eb !important;
}

.custom-thumb {
  height: 20px;
  width: 20px;
  background: #022851;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: grab;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid white;
}
